*{
    width: 100%;
    padding:0%;
    margin: 0%;
}


h1,h2,h3,h4{
    width: auto;
    padding: 0%;
}

:root {
  --pretoV:  #302727;
  --Vermelho :#ba2d2d ;
  --laranja: #f2511b;
  --amareloT: #f2871b62;
  --amareloQ: #f2861b;
  --amareloC :#c7c730;
}

/*header */

#cabecalho {
    width: 100%;
    height: 70px;
    background-color: var(--Vermelho);
    margin-bottom: 15px;  
    display: flex;

    
}

#logo {
    width: 8%;
}

/*fim header */

/*banner / quadradoLarnaja*/
#banner {
    width: 100%;
    height: 800px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    
      
}


#quadradoL {
    width: 40%;
    height: 150px; 
    background-color: var(--amareloT);
      
 
}

#botao {
    width: 100%;
    justify-content: left;
    padding: 20px;
    margin-left: 8px;
   
}

#botao2{
    width: 40%;
    height: 50px;
    background-color: var(--pretoV);
    border: 2px solid var(--amareloQ);
    color: white;
   
}

#frase {
    text-align: center;
}


#pkk {
    font-size: 18px;
    margin-left: 28px;
}

#botoesHeader {
    display: flex;


}

#bth {
    border: none;
    color: white;
    background-color: transparent;
}

#bthconta {   
    width: 20%;
    height: 40px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    
}

#botaoheader {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    
}

/*Fim banner */



/* icones/imagens  */

#textoPagamento {
    text-align: center;
    margin-bottom: 35px;
}

#iconesPagamento {
    display: flex;
    margin-bottom: 80px;
}



#pgs {
    padding: 50px;
    width: 15%;
    border: 2px solid black; 
    text-align: center;
    align-items: center;
}


#fundoFoto {
    background-color: var(--pretoV);
    display: flex;

}

#servicos {
    width: 100%;
    color: white;
    text-align: left;
    padding: 50px;
    font-size: 15px;

}

#imgBeneficio {
    width: 40%;
}

#textoCliente { 
    
    text-align: center;

}


/*section horarios/tables*/

#horariosdiv {
    width: 1000px;
    border: 1px solid black;
    box-shadow: 5px 5px gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    pad: 20px 0px;
    margin: 30px auto;
}


#horariosdiv table {
    width: 600px;
    border-collapse: collapse;
}

td, th {
    border: solid black;
    padding: 0px;
}

th {
    background-color: var(--Vermelho);
    color: white;
}


th:empty { /*apagar o primeiro quadrado da tabela*/
    background-color: transparent;
    border: none;
}


td:hover { /*mudar a cor do quadrado ao passar o mouser em cima*/
    background-color: azure;
}


/*Fim section de horarios*/



/* incio section cartoes */

#cartoes {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.cartoesGrupo{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
    padding: 10px 0px;
    
}


.cartao {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#cartao1 {
    background-image: url(../img/cartaoUm.jpg);
}
#cartao2 {
    background-image: url(../img/cartaoDois.jpg);
}
#cartao3 {
    background-image: url(../img/cartaoTres.jpg);
}

/*Fim section cartoes*/

/*fim*/

footer {
    background-color: var(--Vermelho);
    text-align: center;
    color: white;
}